<p ng-if="signUp.message">{{signUp.message}}</p>

<div class="panel-body jumbotron " style="padding-left: 47px">
  <form class="form" method="post">
    <label class="labelWidth">New Password *</label>
    <input type="password" name="newPassword" ng-model="reset.newPassword" required><br>
    <label class="labelWidth" >Confirm Password * </label>

    <input type="password" name="confirmPassword" ng-model="reset.confirmPassword" required><br>
    <br>
    <input type="submit" value="Reset" ng-click="reset.resetPassword()">
  </form>

</div>
